<body>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/p180x540/10922778_1105558969459541_167941837866481433_n.jpg?oh=e91d5f3389ec32df93dbf32b280ae28e&oe=5627F56A&__gda__=1442355340_9f69b16409932b920d8734ab26a28fbf')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1><br>Wan Ahmad Faris</h1>
            <hr class="small">
            <span class="subheading">Junior Ruby on Rails Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="resume1">
          <h1 class="post-title">
              PERSONAL <small>PARTICULARS</small>
          </h1>
          <hr>
            <div class="table-responsive">
              <table class="table table-striped borderless">
                <tr>
                  <td>Gender :</td>
                  <td>Male</td>
                </tr>

                <tr>
                  <td>Date of Birth : </td>
                  <td>31 July 1991</td>
                </tr>

                <tr>
                  <td>Age :</td>
                  <td>24 Years Old</td>
                </tr>

                <tr>
                  <td>Nationality :</td>
                  <td>Malaysian</td>
                </tr>

                <tr>
                  <td>NRIC :</td>
                  <td>910731-11-5307</td>
                </tr>

                <tr>
                  <td>Marital Status :</td>
                  <td>Single</td>
                </tr>

                <tr>
                  <td>Language :</td>
                  <td>Malay & English</td>
                </tr>
              </table>
            </div>

          <br>
          <h1 class="post-title">
              EDUCATION <small>BACKGROUND</small>
          </h1>
          <hr>
            <div class="table-responsive">
              <table class="table table-striped borderless">
                <tr>
                  <td>Bachelor of Computer Science (Hons) Specialization in Software Engineering</td>
                  <td>Multimedia University</td>
                  <td>2012 - Present</td>
                </tr>

                <tr>
                  <td>Foundation in Engineering</td>
                  <td>Multimedia University</td>
                  <td>2010 - 2011</td>
                </tr>

                <tr>
                  <td>Sijil Pelajaran Malaysia (SPM)</td>
                  <td>MRSM Muadzam Shah</td>
                  <td>2007 - 2008</td>
                </tr>
              </table>
            </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="resume2">
          <h1 class="post-title">
            EDUCATION <small>BACKGROUND</small>
          </h1>
          <hr>
            <div class="table-responsive">
              <table class="table table-striped borderless">
                <tr>
                  <td>Bachelor of Computer Science (Hons) Specialization in Software Engineering</td>
                  <td>Multimedia University</td>
                  <td>2012 - Present</td>
                </tr>

                <tr>
                  <td>Foundation in Engineering</td>
                  <td>Multimedia University</td>
                  <td>2010 - 2011</td>
                </tr>

                <tr>
                  <td>Sijil Pelajaran Malaysia (SPM)</td>
                  <td>MRSM Muadzam Shah</td>
                  <td>2007 - 2008</td>
                </tr>
              </table>
            </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <hr>

</body>

</html>