@import "bootstrap-sprockets";
@import "bootstrap";
@import "blog_pages";
@import "767";
@import "768";
/*@import "debug";
*@import "users";*/

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;

    .row {
    	margin: auto;

    	.resume1 {
    	  padding-left: 60px;
    	}

    	.resume2 {
    	  padding-right: 60px;
    	}

    	.resume1, 
    	.resume2 {
    		hr{
      		border-color: #00F100;
      		border-width: 2px 0;
    		}

    		.borderless td, .borderless th {
    			border: none;
    		}

	    	h2{
	    		font-weight: 500;
	  		}
    	}
    }
}

